<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Inicio - Mi Juego</title>
	<link rel="stylesheet" href="/style">
</head>
<body>
	<h1>Bienvenido a Mi Juego</h1>
	<a href="/search-page">Buscar jugadores</a>
</body>
</html>
